body {
  background-color: #00335b;
  color: gainsboro;
  font: 1.3rem Inconsolata, monospace;
}

pre {
  font: monospace;
  color: limegreen;
  background-color: black;
  border: 0;
  font-size: 80%;
}
